<html>
  <head>
    <style>
      b{
        color:red;
      }
      body{
        background-color: pink;
        color: gray;
      }

    </style>
  </head>
  <body>
      <h1> hello <b><%=@full_name %></b> this page is working </h1>
      <div>
        <p>
          it says here that your favorite class is <b><%=@fav_class %> </b>
          and your hobby is <b><%=@hobby%></b>? is that true?
        </p>
        <p>
          if it isnt i dont really know what to do because you told me those facts and if you are already lying to me
          i just dont know if i will ever be able to trust you :( and that is sad isnt it.
        </p>
        <p>
          if they are true than i appreciate your honesty :)
        </p>
    </div>
  </body>
</html>
